<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
        </nav>
        <div class="copyright pull-right">
            {{test | date: 'yyyy'}}, developed by
            <a href="https://techitweaks.blogspot.com" target="_blank">Yashodha Samarawickrama | </a> 
            Information fetched from : <a href="https://hpb.health.gov.lk/">(Health Promotion Bureau, Sri Lanka) </a> and <a href="https://github.com/pomber/covid19" >https://github.com/pomber/covid19</a>
        </div>
    </div>
</footer>
